body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h2 {
    margin-bottom: 10px;
    color: #19222e;
}

h5 {
    margin-top: 0;
    color: #19222e;
}

form {
    margin-top: 20px;
    opacity: 0;
    animation: fadeIn 0.5s forwards 0.3s;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #19222e;
}

select {
    width: calc(70% - 16px);
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    color: #19222e;
    background-color: #fff; 
    transition: border-color 0.3s ease;
    cursor: pointer;
}

select:hover {
    border-color: #19222e;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

input:hover {
    border-color: #19222e;
}

button {
    background-color: #e35724;
    color: #19222e;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}


button:hover {
    background-color: #e35724;
    color: #ffffff;
}

#result {
    margin-top: 20px;
    padding: 10px;
    background-color: #e35724;
    color: #19222e;
    border-radius: 4px;
    display: none;
    opacity: 0;
    animation: fadeIn 0.5s forwards 0.5s;
}

#result.show {
    display: block;
}

#result:hover {
    background-color: #e35724;
    transition: background-color 0.3s ease;
}

.excel-style {
    border-collapse: collapse;
    width: 100%;
}

.excel-style td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.excel-style tr:nth-child(even) {
    background-color: #f2f2f2;
}

.excel-style tr:hover {
    background-color: #ddd;
}
